/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/components/HeroSlider.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.HeroSlider_fade__nd3a7 {
  opacity: 0;
  animation: HeroSlider_fadeIn__7C2Xo 1s forwards;
}
@keyframes HeroSlider_fadeIn__7C2Xo {
  to { opacity: 1; }
}

.HeroSlider_slideLeft__8YtmJ {
  transform: translateX(100%);
  animation: HeroSlider_slideLeftIn__22VVK 1s forwards;
}
@keyframes HeroSlider_slideLeftIn__22VVK {
  to { transform: translateX(0); }
}

.HeroSlider_slideRight__EFiKL {
  transform: translateX(-100%);
  animation: HeroSlider_slideRightIn__4Q9Bw 1s forwards;
}
@keyframes HeroSlider_slideRightIn__4Q9Bw {
  to { transform: translateX(0); }
}

.HeroSlider_flip__2hF6V {
  transform: rotateY(90deg);
  animation: HeroSlider_flipIn__Pk_2_ 1s forwards;
}
@keyframes HeroSlider_flipIn__Pk_2_ {
  to { transform: rotateY(0); }
}

.HeroSlider_box__oeYio {
  transform: scale(0.1) rotate(0deg);
  border-radius: 2rem;
  animation: HeroSlider_boxIn__ozqFs 1s forwards;
}
@keyframes HeroSlider_boxIn__ozqFs {
  to {
    transform: scale(1) rotate(360deg);
    border-radius: 0;
  }
}

.HeroSlider_pieces__6OHyW {
  animation: HeroSlider_piecesIn__nFETQ 1s forwards;
}
@keyframes HeroSlider_piecesIn__nFETQ {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}

